---
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
  title: string;
  sidebar?: boolean;
}

const { title, sidebar = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-secondary-50">
    <div class="relative flex">
      {sidebar && <Sidebar />}
      <div class={`w-full ${sidebar ? "py-6 px-12" : ""}`}>
        <slot />
      </div>
    </div>
  </body>
</html>
