RUST_LOG=info

ENV=dev # or prod

DATABASE_URL=sqlite:./data/sqlite.db

DOMAIN=0.0.0.0 # for prod use something like example.com without https
PROTOCOL=http # http or https
PORT=8080

JWT_SECRET=base64_encoded_secret # generate two unique keys using openssl for example
# REGISTER_KEY=base64_encoded_secret # optional

# SMTP is needed for password reset and email verification
SMTP_HOST=smtp.example.de:587 # Port 587 is recommended for production
SMTP_PASS=your_smtp_password
SMTP_USER=info@example.de 
EMAIL_VERIFICATION_ENABLED=false # optional