---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Index">
    <main class="grid place-items-center">
        <div class="w-full">
            <Header>Index</Header>
            <Card> Index </Card>
        </div>
    </main>
</Layout>
