---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="No Access">
  <main class="grid place-items-center h-full">
    <div class="w-[800px]">
      <Card>
        <h1 class="text-xl text-black">
          You don't have access to this resource
        </h1>
      </Card>
    </div>
  </main>
</Layout>
