---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Settings">
    <main class="grid place-items-center">
        <div class="w-full">
            <Header>Settings</Header>
            <Card> Settings </Card>
        </div>
    </main>
</Layout>
