@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-4 py-2 text-sm font-medium text-white bg-primary-600 rounded hover:bg-primary-500 transition-colors;
  }
  .btn-secondary {
      @apply px-4 py-2 text-sm font-medium text-primary-600 border border-primary-600 rounded hover:bg-primary-50 transition-colors;
  }
}
